@font-face {
	font-family: 'ua-brand';
	src:
		url(https://brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/fonts/ua-brand.eot?-gdu1x6);
	src:
		url(https://brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/fonts/ua-brand.eot?#iefix-gdu1x6)
		format('embedded-opentype'),
		url(https://brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/fonts/ua-brand.woff?-gdu1x6)
		format('woff'),
		url(https:///brand.arizona.edusites/all/themes/brand/ua-brand-icons/fonts/ua-brand.ttf?-gdu1x6)
		format('truetype'),
		url(https://brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/fonts/ua-brand.svg?-gdu1x6#ua-brand)
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 0.8em;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset complete */
body {
	font-family: MiloWeb,"Open Sans", sans-serif;
	font-size: 16px;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	line-height: 1.428571429;
	background-color: #ffffff;
}

/* some global style helpers */
.gradient-top {
	background: rgba(237,237,237,1);
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}

div.backdoor {
    display: none;
}
div#headerarea,
div#headerarea-small {
    padding: 0;
    background-image: none;
    height: 81px;
    border-bottom: none;
    background-color: #FFF;
}
#headerarea h1,
#headerarea-small h1 {
    padding-left: 24px;
    font-size: 1.5em;
    font-weight: normal;
    font-family: MiloWeb,"Open Sans", sans-serif;
    top: 24px;
}
#headerarea div.headerbox {
    right: 20px;
	font-size: .8em;
	top: 5px;
}
.horz-links-bkgrnd {
    background-color: #e4e4e4;
    border: none;
    padding-top: .5em;
    height: 31px;
}
#tabs dt {
    background-image: none;
    margin: 0;
    padding: 0;
    background: none;
    border-bottom: none;
}
#tabs .tabright {
    background: none;
}
#tabs input {
    font-weight: normal;
    padding: .5em 1em;
    margin: 0;
    height: inherit;
    font-size: .9em;
    color: #5E5E5E;
}
#tabs dt.licurrent {
    background-image: none;
    background-color: #FFF;
    border: none;
    border-radius: 10px 10px 0px 0px;
}
#tabs dl.tabul {
    height: 33px;
}
div#tabs {
    height: 30px;
}
div#horz-links {}
#tabs input:hover {
    font-weight: normal;
    text-decoration: none;
    color: #333;
    background-image: none;
    background-color: #DDD;
    border: 1px solid #A2A2A2;
}
#headerarea table {
    border: 1px solid #999;
}


/* workarea tabs */
#workarea table.tab {
    /* border: 1px solid #BDBDBD; */
    margin-top: 5px;
}
#workarea table.tab td.tabtable1-left {
    background-image: none;
    padding-left: 20px;
    border-radius: 5px 0px 0px 0px;
    /* border-top: 1px solid #222; */
    /* border-left: 1px solid; */
}
table.tab td.tabtable1-left img,
table.tab td.tabtable1-right img,
table.tab td.tabtable2-left img,
table.tab td.tabtable2-right img,
table.tab td.tabtable1-left-colspan img
{
    display: none;
}
#workarea table.tab td.tabtable1-mid,
#workarea table.tab td.tabtable1-right, 
#workarea table.tab td.tabtable2-mid,
#workarea table.tab td.tabtable2-right {
    background-image: none;
}

#workarea table.tab td {
    background-color: #D8D8D8;
}
#workarea td.tabtable1-mid1 img {
	display: none;
}
#workarea td.tabtable1-left-colspan,
#workarea td.tabtable1-mid1 {
    background-image: none;
    padding-left: 20px;
}
#workarea table.tab td.tabtable1-mid,
#workarea table.tab td.tabtable2-mid {
    /* width: 75%; */
    text-align: right;
    padding-right: 15px;
    border-radius: 0px 0px 0px 0px;
}

#workarea table.tab td.tabtable1-right,
#workarea table.tab td.tabtable2-right {
	border-radius: 0px 5px 0px 0px;
	background-color: rgba(240, 239, 239, 1);
}

#workarea h2 {
    font-weight: normal;
}
#workarea div.tab-container {
    background-color: #FFF;
    border: 1px solid #BDBDBD;
    background-image: none;
    margin: 0;
}
#workarea td, #workarea th {
    vertical-align: middle;
}
div#workarea {
    font-size: .8em;
}
/*this is an ugly hack for when they have 2 div with the 
  id of workarea */
div#workarea div#workarea {
    font-size: 100%;
}

#workarea table.b3 {
    background-image: none;
}
#workarea td.footer {
    background: none;
}
#workarea td.footer-right {
    background: none;
}
img.bl3 {
    display: none;
}
img.br3 {
    display: none;
}

#workarea div.tab-container-error {
    background-image: none;
    background-color: #FCE4E4;
    border-right: 1px solid #BDBDBD;
    width: auto;
    border-left: 1px solid #BDBDBD;
}

.left-errmsg {
	font-size: .9em;
}

div.msg-excol {
	padding: 0;
}

/* Media queries to resize tabs */
@media (max-width: 1600px) {
  #tabs input {
  	padding: .2em .5em;
  
  	height: 22px;
  }
  #tabs dl.tabul {
	height: 22px;
  }
  .horz-links-bkgrnd {
  	height: 22px;
  }
  #tabs dl.tabul dt.licurrent {
	border-radius: 5px 5px 0px 0px;
  }
}

@media (max-width: 1400px) {
  #tabs {
  	float: left;
  	clear: both;
  }
  #tabs dl.tabul dt {
    display: none;
    float: left;
    clear: left;
    width: 275px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
  }
  #tabs dl.tabul dt.licurrent {
    display: block;
    border-bottom: none;
    border-radius: 0px;
  }
  #tabs dl.tabul dt.licurrent::after {
  	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    content: "\e631";
    display: block;
    float: right;
    margin-top: -23px;
    margin-right: 10px;
  }
  #tabs dl.tabul:hover > dt {
    display: block;
  }
  #tabs input {
  	width: 100%;
  	text-align: left;
  	padding-left: 20px;
  	padding: .5em 1em;
  	height: 31px;
  }
  .horz-links-bkgrnd {
  	height: 31px;
  }
}

/* Lookup screen styles */

div#headerarea-small {
    height: 50px;
}
#headerarea-small h1 {
    top: 7px;
}
div#lookup-criteria {
    font-size: .9em;
    padding-left: 24px;
	padding-right: 24px;
}

a#lookup-criteria-toggle {
    margin-left: 24px;
    margin-right: 24px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #BDBDBD;
    background-color: #D8D8D8;
    font-size: .9em;
	color: #666;
}

div#lookup-results {
	font-size: .9em;
	margin-left: 24px;
}

/* Action List Styles */

form[name="ActionListForm"] {
	font-size: .9em;
}

/* Hide the Person Lookup Magnafying glass on the Associate Workflow
 * lookup page. This selects the first element after the 
 * associateUser.principalName text input element
 */
#lookup-criteria input#associateUser\.principalName + input {
    display: none;
}

tr th.grid {
	vertical-align: middle;
}

/* Custom Styles for the PropDev Key Personnel */

td.annotate-t {
    background-image: none;
}

td.annotate-t img {
    display: none;
}

.annotate-container,
div.annotate-container {
	border: none;
	background-image: none;
}

td.annotate-b {
    background-image: none;
}

td.annotate-b img {
    display: none;
}

div#addPersonDiv,
div#budgetPersonnelSelectBudgetPeriod {
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 1em;
    margin-top: 5px;
}

/* fix for questionnaire content in firefox */
div.questionnaireContent {
    clear: left;
}

#tabs input:disabled {
	display: none;
}